@import "./../utils/fonts";

.superior {
  margin: 10px;

  &-titulo {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  &-subtitulo {

  }
  &-boton {
    width: 100px;
    height: 30px;
    border-block-color: initial;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(67, 67, 190);
    text-decoration: none;
    &__enlace {
      text-decoration: none;
      align-content: center;
      color: white;
      margin-top: 50px;
      margin-left: 10px;
    }
  }
}
.series {
    border-bottom: 1px solid grey;
    width: 100px;
    height: 100px;
    border: 0px;
    margin-top: 20px;
  
}
.clases{
    display: flex;

}

